@import url("/fonts/Inter/inter.css");
@import url("/fonts/sf-mono/style.css");

::-webkit-scrollbar {
  background-color: #ffffff;
  width: 6px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(6, 13, 13, 0.5);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

::selection {
  background: #ffdc00;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  background-color: #fbfbfd;
  color: #3f3f3f;
}

a {
  text-decoration: none;
  color: #3f3f3f;
  transition: 0.25s ease;
}

a:hover {
  color: #004bcc;
}

a.text {
  color: #004bcc;
  overflow: hidden;
  transition: 0.25s ease;
  position: relative;
  display: inline-block;
}

a.text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.07em;
  background-color: #004bcc;
  transform: translate3d(-100%, 0, 0);
  transition: transform 250ms;
}

a.text:hover::after,
a.text.focus::after {
  transform: translate3d(0, 0, 0);
}

.scroll-down {
  transform: translate3d(0, -200%, 0);
}

/* BLUR */

.blur {
  overflow: hidden;
}

/* END OF BLUR */

/* MODAL */

div.modal {
  position: fixed;
  visibility: hidden;
  top: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0);
  transition: all 800ms ease;
}

div.modal.active {
  visibility: visible;
  backdrop-filter: blur(10px);
}

/* END OF MODAL */

/* GO TO TOP */
.go2Top {
  display: none;
  position: fixed;
  z-index: 990;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all 0.25s;
}

.go2Top:hover {
  transform: translateY(-25%);
}

/* BUTTON */

.btn {
  color: #004bcc;
  background-color: rgb(0, 0, 0, 0);
  border: 1px solid #004bcc;
  border-radius: 5px;
  padding: 0.9em 1.2em;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 15px;
  font-weight: 350;
  transition: all 0.25s;
}

.btn:hover {
  background-color: rgba(0, 122, 255, 0.1);
}

/* END BUTTON */

/* EMOJI */

.emoji {
  display: inline-block;
  vertical-align: text-top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.emoji.pointer {
  background-image: url(img/emojis/pointright.png);
}

.emoji.wave {
  background-image: url(img/emojis/wave.png);
}

/* END OF EMOJI */

/* BODY */
@keyframes animWave {
  0% {
    transform: translateX(0) rotateZ(0deg);
  }

  20% {
    transform: translateX(-10%) rotateZ(-10deg);
  }

  40% {
    transform: translateX(10%) rotateZ(10deg);
  }

  60% {
    transform: translateX(-10%) rotateZ(-10deg);
  }

  80% {
    transform: translateX(10%) rotateZ(10deg);
  }

  100% {
    transform: translateX(0) rotateZ(0deg);
  }
}

@keyframes introFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animBawahAtas {
  0% {
    transform: translateY(-200%);
  }

  20% {
    transform: translateY(10%);
  }

  45% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes introKananKiri {
  0% {
    transform: translate3d(200%, 0, 0);
  }

  50% {
    transform: translate3d(-10%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

/* NAVMENU */

div.nav-menu {
  position: fixed;
  z-index: 11;
  right: -200%;
  height: 100%;
  width: min(75vw, 400px);
  box-shadow: -20px 0 75px rgba(0, 0, 0, 0.25);
  background-color: #fbfbfd;
  padding: min(50px) min(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  align-items: center;
  transition: 250ms ease-in-out;
}

div.nav-menu.active {
  right: 0;
}

div.nav-menu ol {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

div.nav-menu ol li a{
  font-family: "SF Mono regular";
  font-size: 20px;
}

/* END OF NAVMENU */

/* HEADER */

header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;
  padding: 0 50px;
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
  z-index: 11;
}

body.blur header {
  background-color: transparent;
  backdrop-filter: blur(0px);
}

header nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  z-index: 12;
}

.header-icon {
  text-align: center;
}

.header-icon a {
  font-size: 24px;
  font-weight: 700;
  color: #004bcc;
  text-decoration: none;
}

nav div.nav {
  display: flex;
  position: relative;
  gap: 25px;
}

div.nav ol {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 13px;
  gap: 25px;
}

div.nav ol li a {
  font-family: "SF Mono regular";
  font-size: 1em;
}

div.nav a.resume {
  font-family: "SF Mono regular";
  font-size: 13px;
  transition: all 250ms;
  animation: introKananKiri 3s ease-in-out;
}

div.nav .nav-hp {
  font-size: 4vmax;
  display: none;
  text-align: center;
  font-weight: lighter;
  color: #060d0d;
  position: relative;
  z-index: 10;
  user-select: none;
  animation: introKananKiri 2s ease;
  transition: all 300ms;
}

div.nav .nav-hp.nav-hp-active {
  color: #004bcc;
  transform: rotate(45deg);
}

/* END HEADER */

/* MAIN */

div#content main {
  width: 100%;
  padding: 0 180px;
  max-width: 1600px;
  min-height: 100vh;
}

/* SECTION HERO */

main section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  min-height: 100vh;
  max-width: 1000px;
}

section.hero h3 {
  margin: 0 0 25px 4px;
  font-size: 32px;
  font-weight: 300;
}

section.hero h3 span.emoji.wave {
  width: 40px;
  height: 40px;
  vertical-align: text-bottom;
}

section.hero h3 span.emoji.wave:hover {
  animation: animWave 750ms ease;
  cursor: grab;
}

section.hero h1 {
  color: #060d0d;
  font-size: 70px;
  max-width: 700px;
}

section.hero h1 span {
  font-weight: 200;
}

section.hero p {
  margin: 0 0 0 3px;
  font-size: 18px;
  line-height: 1.5em;
  max-width: 570px;
}

section.hero h2 {
  margin: 20px 0 0 0;
  font-size: 18px;
  font-weight: 400;
}

section.hero h2 span.emoji.pointer {
  margin: 0 10px;
  height: 30px;
  width: 30px;
  vertical-align: text-bottom;
}

/* END OF SECTION HERO */

/* SECTION ABOUT */

section.about {
  padding: 100px 0;
  max-width: 900px;
}

section.about h2.section-heading {
  font-size: 30px;
  margin: 0 0 36px 0;
}

section.about div.about-div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 50px;
}

section.about div.about-div div.about-headshot-wrapper {
  width: 300px;
  height: 300px;
  background-color: #004bcc;
  border-radius: 4px;
  position: relative;
  transition: all 0.25scubic-bezier(0.65, 0.05, 0.36, 1);
}

section.about div.about-div div.about-headshot-wrapper::before, div.about-headshot-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: all 0.25scubic-bezier(0.65, 0.05, 0.36, 1);
}

section.about div.about-div div.about-headshot-wrapper::before {
  top: 0px;
  left: 0px;
  background-color: #004bcc;
  mix-blend-mode: screen;
}

section.about div.about-div div.about-headshot-wrapper::after {
  border: 2px solid #004bcc;
  top: 15px;
  left: 15px;
  z-index: -1;
}

section.about div.about-div div.about-headshot-wrapper img {
  border-radius: 4px;
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
  transition: all 250ms cubic-bezier(0.65, 0.05, 0.36, 1)
}

section.about div.about-div div.about-headshot-wrapper img:hover{
  mix-blend-mode: normal;
  filter: grayscale(0%);
}

section.about div.about-div div.about-text {
  display: flex;
  max-width: 399px;
  flex-direction: column;
  justify-content: flex-start;
}

section.about div.about-div div.about-text p {
  font-size: 18px;
  line-height: 1.5em;
}

/* END OF SECTION ABOUT */

/* END OF MAIN */

/* FOOTER */

footer#footer {
  padding: 36px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 25px;
}

footer div.follow-up i {
  font-size: 2vmax;
  text-decoration: none;
  margin: 0 3px;
  padding: 5px;
  user-select: none;
}

footer a.copyright {
  font-family: "SF Mono light";
  text-align: center;
  font-size: 1vmax;
}

/* END OF FOOTER */

/* RESPONSIVE AREA */

/* TABLET AREA */

@media screen and (max-width: 1080px) {
  /* HEADER */

  header {
    padding: 0 40px;
  }
  
  /* END OF HEADER */

  div#content main {
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  /* HEADER */

  header {
    padding: 0 25px;
  }
  
  /* END OF HEADER */

  header div.nav a.resume {
    display: none;
  }

  header div.nav ol {
    display: none;
  }

  div.nav .nav-hp {
    display: block;
  }

  div#content main {
    padding: 0 50px;
  }

  footer div.follow-up i {
    font-size: 4vmax;
  }

  footer a.copyright {
    font-size: 1.7vmax;
  }
}

/* PHONE AREA */

@media screen and (max-width: 480px) {
  .header-icon a {
    font-size: 4vmax;
  }

  div#content main {
    padding: 0 25px;
  }

  footer div.follow-up i {
    font-size: 3.5vmax;
  }

  footer a.copyright {
    font-size: 1.5vmax;
  }
}
