@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter Var", sans-serif;
  }
}

::-webkit-scrollbar {
  background-color: #ffffff;
  width: 6px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(6, 13, 13, 0.5);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

::selection {
  background: #ffdc00;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  background-color: #fbfbfd;
  color: #060D0D;
}

a {
  text-decoration: none;
  color: #060D0D;
  transition: 0.25s ease;
}

a:hover {
  color: #004bcc;
}

.scroll-down {
  transform: translate3d(0, -200%, 0);
}

/* GO TO TOP */
.go2Top {
  display: none;
  position: fixed;
  z-index: 990;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all 0.25s;
}

.go2Top:hover {
  transform: translateY(-25%);
}

/* BUTTON */

.btn {
  color: #004bcc;
  background-color: rgb(0, 0, 0, 0);
  border: 1px solid #004bcc;
  border-radius: 6px;
  padding: 0.9em 1.5em;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 15px;
  font-weight: 350;
  transition: all 0.25s;
}

.btn:hover {
  background-color: rgba(0, 122, 255, 0.1);
}

/* END BUTTON */

/* BODY */

@keyframes introFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animBawahAtas {
  0% {
    transform: translateY(-200%);
  }

  20% {
    transform: translateY(10%);
  }

  45% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes introKananKiri {
  0% {
    transform: translate3d(200%, 0, 0);
  }

  50% {
    transform: translate3d(-10%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

/* HEADER */

header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;
  padding: 0 50px;
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
  z-index: 11;
}

header nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.header-icon {
  text-align: center;
}

.header-icon a {
  font-size: 24px;
  font-weight: 700;
  color: #004bcc;
  text-decoration: none;
}

header nav div.nav {
  display: flex;
  gap: 15px;
}

header div.nav ol {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 13px;
  gap: 25px;
}

header div.nav ol li a {
  font-size: 1em;
}

header div.nav button.resume {
  font-size: 12px;
  transition: all 250ms;
  animation: introKananKiri 3s ease-in-out;
}

header .nav-hp {
  font-size: 4vmax;
  text-align: center;
  font-weight: lighter;
  color: #060D0D;
  display: none;
  user-select: none;
  animation: introKananKiri 2s ease;
  transition: all 300ms;
}

header .nav-hp.nav-hp-active {
  color: #004bcc;
  transform: rotate(45deg);
}

/* END HEADER */

/* MAIN */

main {
  width: 100%;
  padding: 0 150px;
  max-width: 1600px;
  min-height: 100vh;
}

/* END OF MAIN */

/* FOOTER */

footer#footer {
  padding: 36px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

footer div {
  margin: 6px 0;
}

footer div.follow-up i {
  font-size: 2vmax;
  text-decoration: none;
  margin: 0 3px;
  padding: 5px;
  user-select: none;
}

footer a.copyright {
  font-size: 1vmax;
  font-weight: 300;
}

/* END OF FOOTER */

/* RESPONSIVE AREA */

/* TABLET AREA */

@media screen and (max-width: 1115px) {
}

/* PHONE AREA */

@media screen and (max-width: 480px) {
  .header-icon a {
    font-size: 4vmax;
  }
  
  header div.nav button.resume {
    display: none;
  }

  header div.nav ol {
    display: none;
  }

  header .nav-hp {
    display: block;
  }

  footer div.follow-up i {
    font-size: 4vmax;
  }

  footer a.copyright {
    font-size: 1.7vmax;
  }
}
